body {
  margin: 0;
}

@font-face {
  font-family: "Karla";
  src: url("Karla-VariableFont_wght.ttf");
}

#container {
  width: 550px;
  height: 550px;
  background-color: #1f2937;
  margin: auto auto;
  display: flex;
  flex-direction: column;
}

h1 {
  width: 354px;
  height: 80px;
  font-style: normal;
  font-family: Karla;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
  color: white;
  margin: 115px 144px 10px 52px;
}

span {
  color: #4adf86;
}

#supporting-txt {
  width: 372px;
  height: 28px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #d5d4d8;
  margin: 0 126px 51px 52px;
}

button {
  width: 191px;
  padding: 9px 17px 9px 15px;
  border-radius: 6px;
  border: none;
  height: 42px;

  background-color: #10b981;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;

  margin: 0px 307px 35px 52px;
}

#line {
  width: 446px;
  height: 0px;
  border: 1px solid #2f3e53;
  margin: 0 52px 35px 52px;
}

#container-row {
  display: flex;
  flex-direction: row;
}

.rectangle {
  width: 211px;
  height: 39px;
  border-radius: 6px;
  background-color: #273549;
}

#rectangle-one {
  margin: 0px 24px 115px 52px;
}

#rectangle-two {
  margin: 0 52px 115px 0px;
}

.password {
  width: 180px;
  height: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #55f991;
  margin: 4px 16px 3px 15px;
}
